---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages.json
    body:
      encoding: UTF-8
      string: Body=Test+message&From=%2B15555559999&To=%2B15555551234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<TWILIO_AUTH_TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Twilio-Error-Code:
      - '20003'
      Twilio-Request-Id:
      - RQef304a68ed6cc56ff364ad3b8abea631
      Twilio-Request-Duration:
      - '0.005'
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
      Www-Authenticate:
      - Basic realm="Twilio API"
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code":20003,"message":"Authentication Error - invalid username","more_info":"https://www.twilio.com/docs/errors/20003","status":401}'
  recorded_at: Tue, 07 Oct 2025 02:37:09 GMT
recorded_with: VCR 6.3.1
